PORT=8000

MONGODB_URL=mongodb+srv://mdsaad1289:CxhvPcMnaJFLhBM6@cluster0.20jynkx.mongodb.net/BlinkUpZ

JWT_SECRET=9fE7&KpA!wQm2ZxR#C8T@D6JvB^N4LhY%S*U

CLOUDINARY_CLOUD_NAME=dhptequpx
CLOUDINARY_API_KEY=723835296947698
CLOUDINARY_API_SECRET=9fQaZxh79L2wjvDXuSU9shCtD1I

VAPID_PUBLIC_KEY=YOUR_PUBLIC_VAPID_KEY_HERE
VAPID_PRIVATE_KEY=YOUR_PRIVATE_VAPID_KEY_HERE
VAPID_EMAIL=mailto:you@example.com